<div style="
width: 90%;
margin-right: 10px;
margin-left: 45px;
margin-top: 20px;
" (click)="getProgramById(program)">
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th>Title</th>
            <td>{{program.title }}</td>
          </tr>
          <tr>
            <th>Contenu</th>
            <td>{{ program.contenu }}</td>
          </tr>     

        </table>
      </div><!--
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th>Adresse</th>
            <td>{{ user.address }}</td>
          </tr>
          <tr>
            <th>Date de naissance</th>
            <td>{{ user.birthDate | date : "yyyy-MM-dd" }}</td>
          </tr>
          <tr>
            <th>Statut</th>
            <td>{{ user.status }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div style="display: flex">
        <div>
          <p class="me-5">Modifier les informations</p>
        </div>
        <div>
          <button class="btn btn-success" (click)="handleEditUser(user)">
            <i class="bi bi-pencil-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>-->

</div>
</div>
</div>