.flex-container {
  display: flex;
  height: 100vh;

}
.flex-container > div {

  text-align: center;


}


.barreHight{
  background-color: red;
  height: 80px;
}

table
{
  margin-left:20px;
  margin-right:20px;
}

tr{
  border-color: rgb(1, 1, 10);
}

thead > td{
  background-color: brown;
}
