<!-- home.component.html -->

<div class="flex-container">
  <div class="btn-group-vertical" style="flex-grow: 1; margin-top: 1px; width: 10%; height: 100vh">
    <button type="button" class="btn btn-primary" style="margin-bottom: 2px" (click)="showUsers()">
      Utilisateurs
    </button>
    <button type="button" class="btn btn-primary" style="margin-bottom: 2px" (click)="showPrograms()">
      Programmes
    </button>
    <button type="button" class="btn btn-primary" style="margin-bottom: 2px" (click)="showPrograms()">
      Horaires
    </button>
    <button type="button" class="btn btn-primary" style="margin-bottom: 2px" (click)="showPrograms()">
      Lieux
    </button>
    <button type="button" class="btn btn-primary" style="margin-bottom: 2px" (click)="showPrograms()">
      Seances
    </button>
    <button type="button" class="btn btn-primary" style="margin-bottom: 2px" (click)="showUsers()">
      Abonnements
    </button>
    <button type="button" class="btn btn-primary" style="margin-bottom: 2px" (click)="showPrograms()">
      Factures
    </button>
    <button type="button" class="btn btn-primary" style="margin-bottom: 2px" (click)="showPrograms()">
      Présence
    </button>
    <!-- ... Ajoutez des gestionnaires d'événements pour d'autres boutons ... -->
  </div>
  <div class="flex-container">
    <div style="flex-grow: 3">
      <div *ngIf="showUserList">
        <div class="card" style="height: 100vh">
          <div class="card-header" style="background-color: aquamarine">
            Liste des utilisateurs
          </div>
          <div class="card-body">
            <table class="table table-striped-columns m-1">
              <!-- Contenu de la liste des utilisateurs -->

              <tbody>
                <tr *ngFor="let u of users" (click)="getUserById(u)">
                  <td>{{ u.first_name }} {{ u.last_name }}</td>
                  <td>
                    <button class="btn btn-danger" (click)="handleDeleteUser(u)" [disabled]="u.status === 'admin'">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="showProgramList">
        <div class="card">
          <div class="card-header">Liste des programmes</div>
          <div class="card-body">
            <table class="table table-striped-columns m-1">
              <!-- Contenu de la liste des rôles -->

              <tbody>
                <tr *ngFor="let program of programList" (click)="getProgramById(program)">
                  <td>{{ program.title }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="showTeamList">
        <div class="card">
          <div class="card-header">Liste des équipes</div>
          <div class="card-body">
            <table class="table table-striped-columns m-1">
              <!-- Contenu de la liste des équipes -->

              <tbody>
                <tr *ngFor="let team of teamList">
                  <td>{{ team.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="showCourList">
        <div class="card">
          <div class="card-header">Liste des équipes</div>
          <div class="card-body">
            <table class="table table-striped-columns m-1">
              <!-- Contenu de la liste des équipes -->

              <tbody>
                <tr *ngFor="let cour of courList">
                  <td>{{ cour.contenu }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>




  <div style="flex-grow: 3" *ngIf="user">
    <div class="navbar navbar-dark">
      <div class="container-fluid border bg-dark" style="
          width: 90%;
          border-radius: 5px;
          margin-left: 45px;
          margin-right: 10px;
        ">
        <ul class="navbar-nav" style="margin-left: 40px" >
          <li class="nav-item">
            <a class="nav-link">Bonjour {{ user.first_name }} {{ user.last_name }}
            </a>
          </li>
        </ul>
        <ul class="navbar-nav" style="margin-right: 10px; display: flex; flex-direction: row">
          <li>
            <a class="nav-link"> {{ user.status }} </a>
          </li>
          <li>
            <a class="btn nav-link m-4">
              <i class="bi bi-box-arrow-right" (click)="doLogout()"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="d-flex justify-content-center align-items-center" class="create-user" *ngIf="showUserList"
        style="margin-left: 45px">
        <div style="display: flex" *ngIf="showUserList">
          <div>
            <p class="me-5">Créer un nouveau user</p>
          </div>
          <div>
            <button class="btn btn-success" (click)="showCreateUser()">
              <i class="bi bi-person-plus-fill"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="creat-user mb-2" *ngIf="showCreateUserDiv" style="width: 90%">
        <div style="width: 100%; margin-right: 10px; margin-left: 45px">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="userForm" (ngSubmit)="createUser()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-1">
                      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nom"
                        formControlName="first_name" />
                    </div>
                    <div class="mb-1">
                      <input type="text" class="form-control" id="last_name" placeholder="Prénom"
                        formControlName="last_name" />
                    </div>
                    <div class="mb-1">
                      <input type="text" class="form-control" id="last_name" placeholder="Email"
                        formControlName="email" />
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Genre</label>
                      <select for="gender" class="form-select" id="gender" formControlName="gender" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="male" id="gender" for="gender">
                          Male
                        </option>
                        <option value="female" id="gender" for="gender">
                          Female
                        </option>
                      </select>
                    </div>
                    <div class="mb-1">
                      <input type="text" class="form-control" id="adress" placeholder="adress"
                        formControlName="adress" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="mb-1">
                      <input type="date" class="form-control" id="birthDate" formControlName="birthDate"
                        placeholder="Date de naissance" />
                    </div>
                    <div class="mb-3">
                      <label class="form-check-label" for="actif">
                        Actif
                      </label>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="iactif" formControlName="actif"
                          required>
                      </div>
                    </div>

                    <div class="mb-1">
                      <input type="text" class="form-control" id="status" formControlName="gsm" placeholder="GSM" />
                    </div>

                    <div class="mb-1">
                      <label class="form-label" for="grade">Grade</label>
                      <select class="form-select" id="grade" for="grade" formControlName="grade" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="1" id="grade" for="grade">
                          0 cap
                        </option>
                        <option value="2" id="grade" for="grade">
                          1er cap
                        </option>
                      </select>
                    </div>

                    <div class="mb-1">
                      <label class="form-label">Status</label>
                      <select for="status" class="form-select" id="status" formControlName="status" required>
                        <option selected disabled value="">Choose...</option>
                        <option value="admin" id="status" for="status">
                          Admin
                        </option>
                        <option value="member" id="status" for="status">
                          Member
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                  <div style="display: flex">
                    <button type="submit" class="btn btn-primary" data-bs-container="body" data-bs-toggle="popover"
                      data-bs-placement="bottom"
                      data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                      data-bs-original-title="Popover Title" aria-describedby="popover344544">
                      Créer
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="showUser" style="
          width: 90%;
          margin-right: 10px;
          margin-left: 45px;
          margin-top: 20px;
        " (click)="getUserById(user)">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th>Nom</th>
                    <td>{{ user.first_name }}</td>
                  </tr>
                  <tr>
                    <th>Prénom</th>
                    <td>{{ user.last_name }}</td>
                  </tr>
                  <tr>
                    <th>Genre</th>
                    <td>{{ user.gender }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <tr>
                    <th>Adresse</th>
                    <td>{{ user.adress }}</td>
                  </tr>
                  <tr>
                    <th>Date de naissance</th>
                    <td>{{ user.birthDate | date : "yyyy-MM-dd" }}</td>
                  </tr>
                  <tr>
                    <th>Statut</th>
                    <td>{{ user.status }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <div style="display: flex">
                <div>
                  <p class="me-5">Modifier les informations</p>
                </div>
                <div>
                  <button class="btn btn-success" (click)="handleEditUser(user)">
                    <i class="bi bi-pencil-fill"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="
      width: 90%;
      margin-right: 10px;
      margin-left: 45px;
      margin-top: 20px;
    " >
        <app-program *ngIf="showProgram" [program]="program"></app-program>
      </div>
      
  </div>